In [153]:
import pandas as pd

# Load data

In [154]:
awards_players_df = pd.read_csv('../data/awards_players.csv'); awards_players_df.Name = "awards_players"
coaches_df = pd.read_csv('../data/coaches.csv'); coaches_df.Name = "coaches"
players_teams_df = pd.read_csv('../data/players_teams.csv'); players_teams_df.Name = "players_teams"
players_df = pd.read_csv('../data/players.csv'); players_df.Name = "players"
series_post_df = pd.read_csv('../data/series_post.csv'); series_post_df.Name = "series_post"
teams_post_df = pd.read_csv('../data/teams_post.csv'); teams_post_df.Name = "teams_post"
teams_df = pd.read_csv('../data/teams.csv'); teams_df.Name = "teams"

dfs = [awards_players_df, coaches_df, players_teams_df, players_df, series_post_df, teams_post_df, teams_df]

# Clean data

### Drop noisy data

In [155]:
players_df.drop(players_df[players_df['height'] <= 0].index, inplace = True)

### Remove duplicates

In [156]:
for df in dfs:
    df.drop_duplicates(inplace=True)
    display(f"Dropping dupplicates from dataframe {df.Name}...")

'Dropping dupplicates from dataframe awards_players...'

'Dropping dupplicates from dataframe coaches...'

'Dropping dupplicates from dataframe players_teams...'

'Dropping dupplicates from dataframe players...'

'Dropping dupplicates from dataframe series_post...'

'Dropping dupplicates from dataframe teams_post...'

'Dropping dupplicates from dataframe teams...'

### Drop unneeded columns

In [157]:
players_df.drop(['birthDate', 'deathDate', 'college', 'collegeOther'], axis=1, inplace=True)
teams_df.drop(["confID", "franchID", "rank", "firstRound", "semis", "finals", "attend", "name", "arena"], axis=1, inplace=True);
teams_post_df.drop([], axis=1, inplace=True)
series_post_df.drop([], axis=1, inplace=True)
players_teams_df.drop([], axis=1, inplace=True)
awards_players_df.drop(['award'], axis=1, inplace=True)
coaches_df.drop([], axis=1, inplace=True)

### Drop single value columns

In [158]:
def drop_single_value_columns(df):
    for column in df.columns:
        if len(df[column].unique()) == 1:
            display(f"Dropping column {column} from datarame {df.Name}")

            df.drop(column, axis=1, inplace=True)

for df in dfs:
    drop_single_value_columns(df)

'Dropping column lgID from datarame awards_players'

'Dropping column lgID from datarame coaches'

'Dropping column lgID from datarame players_teams'

'Dropping column firstseason from datarame players'

'Dropping column lastseason from datarame players'

'Dropping column lgIDWinner from datarame series_post'

'Dropping column lgIDLoser from datarame series_post'

'Dropping column lgID from datarame teams_post'

'Dropping column lgID from datarame teams'

'Dropping column divID from datarame teams'

'Dropping column seeded from datarame teams'

'Dropping column tmORB from datarame teams'

'Dropping column tmDRB from datarame teams'

'Dropping column tmTRB from datarame teams'

'Dropping column opptmORB from datarame teams'

'Dropping column opptmDRB from datarame teams'

'Dropping column opptmTRB from datarame teams'

### Rename columns

In [159]:
players_df.rename(columns={'bioID': 'playerID', 'stint': 'player_stint'}, inplace=True)

coaches_df.rename(columns={'won': 'coach_wins', 'lost': 'coach_losses', 'post_wins': 'coach_post_wins', 'post_losses': 'coach_post_losses', 'stint': 'coach_stint'}, inplace=True)

teams_df.rename(columns={'GP': 'team_GP'}, inplace=True)

players_teams_df.rename(columns={'GP': 'player_team_GP'}, inplace=True)

teams_post_df.rename(columns={'W': 'team_post_wins', 'L': 'team_post_losses'}, inplace=True)

series_post_df.rename(columns={'W': 'series_post_wins', 'L': 'series_post_lost'}, inplace=True)

# Merge relevant data

In [160]:
# Merge teams_df with coaches_df
main_df = pd.merge(teams_df, coaches_df, on=['year', 'tmID'], how='left')

# Merge teams_df with teams_post_df
main_df = pd.merge(main_df, teams_post_df, on=['year', 'tmID'], how='left')

# Merge with players_teams_df
main_df = pd.merge(main_df, players_teams_df, on=['year', 'tmID'], how='left')

# Merge with awards_players_df
main_df = pd.merge(main_df, awards_players_df, on=['playerID','year'], how='left')

# Merge with players_df
main_df = pd.merge(main_df, players_df, on=['playerID'], how='left')

# Display the resulting merged data frame
main_df.head()

,year,tmID,playoff,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,...,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,PostDQ,pos,height,weight
0,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,C,79.0,218
1,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F-G,72.0,140
2,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F-C,77.0,190
3,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,G,69.0,147
4,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F,75.0,175

# Drop irrelevant columns
### After merging

In [161]:
# main_df = main_df.drop(["rank", "firstRound", "semis", "finals", "attend", "stint_x", "stint_y", "birthDate", "deathDate", "height", "weight", "award"], axis=1)

# Export clean data to a .CSV file

In [162]:
main_df.to_csv("../data/clean/main_df.csv", index=False)
main_df.head(20)

,year,tmID,playoff,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,...,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,PostDQ,pos,height,weight
0,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,C,79.0,218
1,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F-G,72.0,140
2,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F-C,77.0,190
3,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,G,69.0,147
4,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F,75.0,175
5,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,G,66.0,143
6,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,G,68.0,143
7,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F,74.0,180
8,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F,76.0,170
9,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F,73.0,185
10,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,G,72.0,156
11,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,G-F,75.0,166
12,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,C-F,75.0,183
13,9,ATL,N,895,2258,542,725,202,598,340,...,0,0,0,0,0,0,0,F,74.0,166
14,10,ATL,Y,1089,2428,569,755,114,374,404,...,16,8,17,12,8,4,0,F-G,72.0,140
15,10,ATL,Y,1089,2428,569,755,114,374,404,...,18,10,4,3,0,0,0,F-C,77.0,190
16,10,ATL,Y,1089,2428,569,755,114,374,404,...,4,1,1,1,1,0,0,F,74.0,172
17,10,ATL,Y,1089,2428,569,755,114,374,404,...,5,0,4,2,2,0,0,F,75.0,175
18,10,ATL,Y,1089,2428,569,755,114,374,404,...,20,8,9,8,9,3,0,G,66.0,143
19,10,ATL,Y,1089,2428,569,755,114,374,404,...,0,0,0,0,0,0,0,G,69.0,147

### Information about the resulting dataset

In [163]:
main_df.info()
main_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 94 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                2160 non-null   int64
 1   tmID                2160 non-null   object
 2   playoff             2160 non-null   object
 3   o_fgm               2160 non-null   int64
 4   o_fga               2160 non-null   int64
 5   o_ftm               2160 non-null   int64
 6   o_fta               2160 non-null   int64
 7   o_3pm               2160 non-null   int64
 8   o_3pa               2160 non-null   int64
 9   o_oreb              2160 non-null   int64
 10  o_dreb              2160 non-null   int64
 11  o_reb               2160 non-null   int64
 12  o_asts              2160 non-null   int64
 13  o_pf                2160 non-null   int64
 14  o_stl               2160 non-null   int64
 15  o_to                2160 non-null   int64
 16  o_blk               2160 non-null   int64
 17  o_pts               2160 non-null   int64
 18  d_fgm               2160 non-null   int64
 19  d_fga               2160 non-null   int64
 20  d_ftm               2160 non-null   int64
 21  d_fta               2160 non-null   int64
 22  d_3pm               2160 non-null   int64
 23  d_3pa               2160 non-null   int64
 24  d_oreb              2160 non-null   int64
 25  d_dreb              2160 non-null   int64
 26  d_reb               2160 non-null   int64
 27  d_asts              2160 non-null   int64
 28  d_pf                2160 non-null   int64
 29  d_stl               2160 non-null   int64
 30  d_to                2160 non-null   int64
 31  d_blk               2160 non-null   int64
 32  d_pts               2160 non-null   int64
 33  won                 2160 non-null   int64
 34  lost                2160 non-null   int64
 35  team_GP             2160 non-null   int64
 36  homeW               2160 non-null   int64
 37  homeL               2160 non-null   int64
 38  awayW               2160 non-null   int64
 39  awayL               2160 non-null   int64
 40  confW               2160 non-null   int64
 41  confL               2160 non-null   int64
 42  min                 2160 non-null   int64
 43  coachID             2160 non-null   object
 44  coach_stint         2160 non-null   int64
 45  coach_wins          2160 non-null   int64
 46  coach_losses        2160 non-null   int64
 47  coach_post_wins     2160 non-null   int64
 48  coach_post_losses   2160 non-null   int64
 49  team_post_wins      1163 non-null   float64
 50  team_post_losses    1163 non-null   float64
 51  playerID            2160 non-null   object
 52  stint               2160 non-null   int64
 53  player_team_GP      2160 non-null   int64
 54  GS                  2160 non-null   int64
 55  minutes             2160 non-null   int64
 56  points              2160 non-null   int64
 57  oRebounds           2160 non-null   int64
 58  dRebounds           2160 non-null   int64
 59  rebounds            2160 non-null   int64
 60  assists             2160 non-null   int64
 61  steals              2160 non-null   int64
 62  blocks              2160 non-null   int64
 63  turnovers           2160 non-null   int64
 64  PF                  2160 non-null   int64
 65  fgAttempted         2160 non-null   int64
 66  fgMade              2160 non-null   int64
 67  ftAttempted         2160 non-null   int64
 68  ftMade              2160 non-null   int64
 69  threeAttempted      2160 non-null   int64
 70  threeMade           2160 non-null   int64
 71  dq                  2160 non-null   int64
 72  PostGP              2160 non-null   int64
 73  PostGS              2160 non-null   int64
 74  PostMinutes         2160 non-null   int64
 75  PostPoints          2160 non-null   int64
 76  PostoRebounds       2160 non-null   int64
 77  PostdRebounds       2160 non-null   int64
 78  PostRebounds        2160 non-null   int64
 79  PostAssists         2160 non-null   int64
 80  PostSteals          2160 non-null   int64
 81  PostBlocks          2160 non-null   int64
 82  PostTurnovers       2160 non-null   int64
 83  PostPF              2160 non-null   int64
 84  PostfgAttempted     2160 non-null   int64
 85  PostfgMade          2160 non-null   int64
 86  PostftAttempted     2160 non-null   int64
 87  PostftMade          2160 non-null   int64
 88  PostthreeAttempted  2160 non-null   int64
 89  PostthreeMade       2160 non-null   int64
 90  PostDQ              2160 non-null   int64
 91  pos                 2160 non-null   object
 92  height              2160 non-null   float64
 93  weight              2160 non-null   int64
dtypes: float64(3), int64(86), object(5)
memory usage: 1.5+ MB

,year,o_fgm,o_fga,o_ftm,o_fta,o_3pm,o_3pa,o_oreb,o_dreb,o_reb,...,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,PostDQ,height,weight
count,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,...,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000,2160.000000
mean,5.349537,859.920833,2039.745370,487.872222,652.553704,154.270833,454.681944,330.469444,732.106944,1062.576389,...,3.659722,12.050926,5.062037,3.611111,2.782407,2.843056,0.991667,0.026852,71.730093,167.073611
std,2.887989,84.889513,173.368002,71.320194,85.155917,43.861896,116.509940,40.154703,82.425646,104.442487,...,6.597573,24.154401,10.674382,8.448611,6.716372,7.698095,2.956207,0.172767,5.779155,25.002189
min,1.000000,647.000000,1740.000000,333.000000,469.000000,62.000000,205.000000,242.000000,537.000000,793.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000
25%,3.000000,794.000000,1910.000000,435.000000,582.000000,124.000000,377.000000,301.000000,653.000000,969.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,69.000000,150.000000
50%,5.000000,862.000000,2031.000000,482.000000,651.000000,157.000000,443.000000,333.500000,724.000000,1074.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,72.000000,165.000000
75%,8.000000,912.000000,2175.000000,539.000000,721.000000,177.000000,524.000000,357.000000,792.000000,1143.000000,...,5.000000,14.000000,5.000000,3.000000,2.000000,1.000000,0.000000,0.000000,75.000000,183.000000
max,10.000000,1128.000000,2485.000000,668.000000,882.000000,283.000000,802.000000,452.000000,931.000000,1311.000000,...,43.000000,188.000000,82.000000,68.000000,62.000000,85.000000,32.000000,2.000000,80.000000,253.000000